.align-center {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 2.25rem;
  width: 2.25rem;
  border: 0.25px solid lightgray;
  border-radius: 5px;
}

.flex-row {
  justify-content: flex-end;
}

hr {
  margin: 0;
}

.blockchain {
  font-weight: bold;
  color: gray;
}